{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-img">
                                <img src="{% static 'image/Logo_form.png' %}" alt="Logo Amantes_Verde">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Seja Bem vindo!</h1>
                                        <h1 class="h6 text-gray-900 mb-4">
                                            Realize seu login na plataforma para usufruir dos seus recursos!
                                        </h1>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Usuário..." name="username" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Informe sua Senha" name="password" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Lembrar</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
{#                                        <hr>#}
{#                                        <a href="index.html" class="btn btn-google btn-user btn-block">#}
{#                                            <i class="fab fa-google fa-fw"></i> Login with Google#}
{#                                        </a>#}
{#                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">#}
{#                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook#}
{#                                        </a>#}
                                        {% for k, v in form.errors.items %}
                                        	{{ v }}
                                        {% endfor %}
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">Esqueceu a Senha?</a>
                                    </div>
                                    <div class="text-center small mt-2">
                                        Ainda não possui cadastro na plataforma?
                                        <a href="{% url 'amantes:cadastrar' %}">Registre-se!</a>
                                    </div>
                                    <div class="text-center mt-1">
                                        <a href="{% url 'amantes:index' %}">Voltar</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}