{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="index-container">
        <header>
            <img class="logo_index" src="{% static 'image/Logo_2.png' %}" alt="Logo">
            <span>Amantes do Verde: Uma plataforma para indexar distribuidores e suas plantas ornamentais</span>
            <a href="{% url 'amantes:logar' %}" class="btn btn-primary">
                Autentique-se
            </a>
        </header>
        <h1>Produtos</h1>
        <ul>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>
                <strong>Descrição</strong>
                <p>{incident.description}</p>
                <strong>Descrição</strong>
                <p>{incident.description}</p>
                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>

                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>

                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>

                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>

                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>

                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>

                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
            <li>
                <img class="imgproduto" src="https://github.com/PVSO.png" alt="produto-imagem">
                <strong>CASO</strong>
                <p>title</p>

                <strong>Descrição</strong>
                <p>{incident.description}</p>
            </li>
        </ul>
        <h1>Lojas na Cidade</h1>
        <div class="card-lojas">
            <ul>
                <li>Mapa com as lojas</li>
                <li>Mapa com as lojas</li>
                <li>Mapa com as lojas</li>
                <li>Mapa com as lojas</li>
            </ul>
        </div>
    </div>
{% endblock %}